.Roadmap{
    position: relative;
    background: url("../../images/Roadmap.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 50px; */
}
.Roadmap_top{
    text-align: center;
}
.Roadmap_top_h1{
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
    margin-top: 80px;
}
.Roadmap_top_p{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 30px;
}
.yellow{
    color: #E38B2B;
}
.map_item_h1{
    font-family: "Noah";
    font-size: 56px;
    color: #FFFFFF;
    mix-blend-mode: difference;
}
.map_item{
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
    margin: 40px 0;
    /* background-blend-mode: overlay; */
    /* background: #B479FF; */
}
.map_item_pc {
    display: block;
}
/* .map_item::before{
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 121, 255, 0.2);
    mix-blend-mode: overlay;

} */
.map_item_background {
    border: 3px solid #FFFFFF;

    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B479FF;
    mix-blend-mode: overlay;
    border-radius: 20px;
}
.map_item_p{
    font-size: 24px;
    margin-bottom: 35px;
    mix-blend-mode: none;
    padding-bottom: 8px;
}
.teme{
    margin-bottom: 20px;
}
@media (max-width: 1020px) {

}
@media (max-width: 740px) {
    .map_item{
        padding-left: 20px;
        padding-right: 20px;
        height: 45vh;
        margin-bottom: 50px;
    }
    .map_item_p{
        font-size: 18px;
        line-height: 25px;
    }

    .map_item_pc {
        display: none;
    }
    .block_swiper {
        height: 75%;
        display: block !important;
    }
    .map_item{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .map_item_background{
        background: #b479ff33;
    }
    .Roadmap{
        height: 100vh;
    }
    .Roadmap_top {
        height: 25%;
    }
    .Roadmap_top_p{
        font-size: 24px;
    }
}
@media (max-width: 495px) {
    .map_item{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .map_item_h1{
        font-size: 52px;
    }
    .map_item_p{
        font-size: 16px;
        line-height: 25px;
    }
    .Roadmap_top_h1{
        font-size: 40px;
        line-height: 48px;
    }
    .Roadmap_top_p{
        font-size: 20px;
        line-height: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .map_item {
        margin-top: 10px;
        margin-bottom: 50px;
    }
}
@media (max-width: 495px) and (max-height: 1000px) {
    .map_item {
        height: 65vh;
        padding-top: 15px;
    }
    .Roadmap_top_h1{
        margin-bottom: 9px;
        margin-top: 20px;
    }
    .Roadmap_top_p{
        margin-bottom: 10px;
    }
}
@media (max-width: 495px) and (max-height: 900px) {
    .map_item {
        height: 65vh;
        padding-top: 15px;
    }
    .Roadmap_top_h1{
        margin-bottom: 9px;
        margin-top: 50px;
    }
    .Roadmap_top_p{
        margin-bottom: 10px;
    }
}
@media (max-width: 495px) and (max-height: 800px) {
    .map_item {
        height: 60vh;
        padding-top: 15px;
    }
    .Roadmap_top_h1{
        margin-bottom: 9px;
        margin-top: 20px;
    }
    .Roadmap_top_p{
        margin-bottom: 10px;
    }
}
@media (max-width: 495px) and (max-height: 700px) {
    .map_item_h1 {
        font-size: 42px;
    }
    .teme {
        margin-bottom: 5px;
    }
    .map_item {
        height: 60vh;
        padding-top: 15px;
    }
    .Roadmap_top_h1{
        margin-bottom: 9px;
        margin-top: 20px;
    }
    .Roadmap_top_p{
        margin-bottom: 10px;
    }
}


.block_swiper {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
}
.dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 72px;
    color: #FFFFFF;
    z-index: 1999;
    bottom: 0;
}
.dot_active {
    color: #E38B2B;
}