.faq{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #E38B2B;
    background-size: cover;
    position: relative;
    color: #FFFFFF !important;
    padding-top: 0px;
    /* padding-bottom: 30px; */
    font-family: 'Raleway', sans-serif;
}
.faq_h1{
    padding-top: 52px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 45px;
    font-size: 56px;
}
.faq__container_left{
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.faq_third{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq__container_right{
    display: flex;
    align-items: center;
}
.faq_item{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.faq_item__top{
    position: relative;
    display: flex;
}
.faq_item__top_img{
    width: 270px;
    height: 270px;
}
.faq_play{
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: -10px;
}
.faq_name{
    position: relative;
    top: 17px;
    font-size: 24px;
}
.faq_item_sec{
    margin-top: 70px;
}
.faq_gear{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}
summary::marker{
    height: 30px;
}
.row-content{
    margin: 10px 0;
    margin-top: -20px;
}
.row-content-text{
    text-align: left;
    background: #E38B2B;
    padding: 20px 30px !important;
    /* width: 900px; */
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    margin: 0 auto;
    font-size: 20px !important;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    border-bottom: 5px solid #68516D;
    /* line-height: 193.4%; */
}
.icon-wrapper {
    top: 25px !important;
    right: 2% !important;
    font-size: 42px !important;
    font-size: 28px;
}
.faq-row {
    border-bottom: 0px solid #68516D !important;
    /* padding-bottom: 15px !important; */
    /* border: 0 !important; */
    border-radius: 18px !important;
    /* background-color: #68516D !important; */
    /* margin-bottom: 20px !important; */
}
.styles_icon-wrapper__2cftw {
    transform: none !important;
}
.row-title {
    /* background-color: #E38B2B !important; */
    background-color: #E38B2B !important;
    margin: 10px !important;
    /* border-radius: 20px; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    margin-bottom: 0px !important;
    z-index: 2;
}
/* .faq-row .row-title:active {
    background-color: #68516D !important;
}
.faq-row .row-title:active .row-content-text {
    background-color: #68516D !important;
} */
.row-title-text{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 93.4%;
    z-index: 1;
}
.faq-body{
    border-radius: 20px;
    padding: 2px;
    padding-bottom: 22px;
    background-color: #E38B2B !important;

}
.styles_faq-row__2YF3c {
    padding: 0px !important;
}
.row-content-tex{
    font-size: 28px;
}
.faq-row-wrapper{
    border-radius: 20px !important;
    --faq-bg-color: #68516D !important;
    padding: 10px;
    margin-bottom: 15px;
}
/* @media (max-width: 1680px) {
    .row-content-text{
        width: 1240px;
    }
}
@media (max-width: 1380px) {
    .row-content-text{
        width: 1160px;
    }
}
@media (max-width: 1300px) {
    .row-content-text{
        width: 880px;
    }
} */
@media (max-width: 1020px) {
    .team__wrap1 {
        width: 720px !important;
    }
}
@media (max-width: 740px) {
    /* .row-content-text{
        width: 355px;
    } */
    .team__wrap1 {
        width: 450px !important;
    }
}
@media (max-width: 495px) {
    .row-content-text{
        width: auto;
        padding: 0px !important;
        /* padding: 5px !important; */
        margin: 0px 10px !important;
        font-size: 20px !important;
        padding: 12px !important;
    }
    .row-title-text{
        padding-right: 0 !important;
    }
    .team__wrap1 {
        width: 345px !important;
    }
}

@media (max-width: 395px) {
    .team__wrap1 {
        width: 275px !important;
    }
}

.team__wrap1 {
    margin-bottom: 40px !important;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');